/* .inputSearchBar{
    width: 300px;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border: 0;
    margin-left: 20px;
    outline: none;
    font-size: 20px;
    color: #cac7ff;
}

.searchBar{
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    backdrop-filter: blur(4px);
}

.buttonSearch {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }


  .resultsContainer {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    max-height: 120px; /* Limitando el tamaño de la lista */
    /* overflow-y: auto; /* Agregando scroll cuando se excede la altura */
    /* background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1; */
  

/* 
  .resultsList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .resultItem {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s; /* Agregar una transición suave */
  
  
  /* .resultItem:hover {
    background-color: #507eda; /* Cambiar el color al pasar el mouse */
  
  

  .ContenedorInput{
    border: solid 1px red;
    display: flex;
    flex-direction: column;
  }  

  .detalles{
    border: solid 1px black;
    margin: 10px;
    display: flex; 
    justify-content: space-around;

  }

  .detalles a {
    text-decoration: none;
    padding: 5px; /* Añadido para dar espacio alrededor del texto dentro de los párrafos */
    margin: 5px 0;
    margin: 5px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant:small-caps;
    color: black;
     

  }