/* .inputSearchBar{
    width: 300px;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border: 0;
    margin-left: 20px;
    outline: none;
    font-size: 20px;
    color: #cac7ff;
}

.searchBar{
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    backdrop-filter: blur(4px);
}

.buttonSearch {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }


  .resultsContainer {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    max-height: 120px; /* Limitando el tamaño de la lista */
    /* overflow-y: auto; /* Agregando scroll cuando se excede la altura */
    /* background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1; */
  

/* 
  .resultsList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .resultItem {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s; /* Agregar una transición suave */
  
  
  /* .resultItem:hover {
    background-color: #507eda; /* Cambiar el color al pasar el mouse */
  
  

  .ContenedorInput{
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 20px;
  }  

.Input{
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.NoResults {
  
  font-size: 18px;
  margin-top: 10px;
}

.Links {
  text-decoration: none;
  color: #333;
  display: flex;
  
}

.detalles {
  margin: auto;
  width: 15%;
}

.DogName {
  font-size: 17px;
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant:small-caps;
}

.imagen{
  width: 40%;
  justify-content: center;

}

.ImagenPerro {
  border-radius: 5px;
  width: 60%;
  display: flex;
  margin-left: 5px;
}