.navbarCont{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
    background-color: rgb(235, 245, 241);

}

.links{
    padding: 5px;
    text-decoration: none;
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.links a {
    text-decoration: none;
}

.home {
    /* Estilos para los enlaces dentro del contenedor */
    margin-right: 10px; /* Puedes ajustar este valor según sea necesario */
    text-decoration: none; /* Elimina la subrayado predeterminada de los enlaces */
    color: black;
    background-color:  rgb(235, 245, 241);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant:small-caps;
    font-size: 25px;
    margin: 20px;
    border-radius: 10px;
    padding: 5px;
  }

  .create {
    /* Estilos para los enlaces dentro del contenedor */
    margin-right: 10px; /* Puedes ajustar este valor según sea necesario */
    text-decoration: none; /* Elimina la subrayado predeterminada de los enlaces */
    color: black;
    background-color:  rgb(235, 245, 241);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant:small-caps;
    font-size: 25px;
    margin: 20px;
    border-radius: 10px;
    padding: 5px;

  }


  .home:hover {
    color: #fff; /* Cambia el color del texto en hover */
    background-color: #007bff; /* Cambia el color de fondo en hover */
    transition: color 0.3s, background-color 0.3s; /* Agrega una transición suave */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Agrega una sombra suave en hover */
  }
  

 .create:hover{
    color: #fff; /* Cambia el color del texto en hover */
    background-color: #007bff; /* Cambia el color de fondo en hover */
    transition: color 0.3s, background-color 0.3s; /* Agrega una transición suave */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Agrega una sombra suave en hover */

 } 

.barraNav {
    border-radius: 10px;
    width: 250px;
    border: solid 1px black;
}


.Barra{
  position: relative;
}

.searchBar{
  
  z-index: 1;
  max-height: 0;
  transition: max-height 0.5s ease-in-out; 
}