.Contenedor{
    justify-content: center;
    display: flex;
    margin: auto;
    height: 90vh;
    background-color: rgb(235, 245, 241);
}

.ContPag{
    background-color:  rgb(235, 245, 241);
    justify-content: center;
    width: 100%;
}

.ContPag button{
    margin-bottom: 15px;
}