.BotonCurrent{
    background-color:  rgb(185, 205, 201);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}



.Botones{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant:small-caps;
    color: black;
    background-color:  rgb(235, 245, 241);
    border: 2px solid rgb(185, 205, 201);
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}



.Botones:hover {
    background-color:  rgb(228, 159, 29);
    color: #fff;
}

.Paginado{
    display: flex;
    justify-content: center;
    padding: 15px;

}


.Paginado.active {
    background-color: rgb(228, 159, 29);
    color: #fff;
    cursor: default;
}
